@{

    ViewBag.title = "Duration Report ";

}
<div id="table">
    <div class="row">

        <div class="col-md-1">

        </div>

        <div class="col-md-10">
              @{ SDNMediaModels.DBContext.MediaManagerDB db = new SDNMediaModels.DBContext.MediaManagerDB();
                  
                  }       
          @(Html.Kendo().Chart<SDNMediaModels.Feedback.DownloadQueue>()
              .Name("chart")
              .HtmlAttributes(new { @style = "height: 800px; font-size: 20px; font-weight: bold;" })
              .Title("File Download Duration - Last 24 Hours")
              .Legend(legend => legend.Position(ChartLegendPosition.Bottom))
              .Tooltip(tooltip => tooltip.Visible(true))
              .DataSource(ds => ds.Read(read => read.Action("DownloadQueues_Read", "Report")))
              .Series(series =>
              {
                  series.Bar(a => a.DownloadDuration).Name("Downloaded Duration (in Minutes)").Color("Green").Tooltip(t => t.Visible(true).Format("Duration: {0} minutes"));
              })
              .CategoryAxis(axis => axis
                                        .Categories(model => model.TorrentName)
                                        .MajorGridLines(lines => lines.Visible(true))
                                   )

           )

        </div>

    </div>

</div>
            