
<div class="demo-section k-content wide">
    @(Html.Kendo().Chart()
    .Name("chart")
    .Title("Media Downloads by Month")
    .Legend(legend => legend
    .Position(ChartLegendPosition.Bottom)
    )
    .ChartArea(chartArea => chartArea
    .Background("transparent")
    )
    .SeriesDefaults(seriesDefaults =>
    seriesDefaults.Line().Style(ChartLineStyle.Smooth)
    )
    .Series(series => {
    series.Line(new double[] { 09, 12, 22, 25, 03, 15, 01, 63, 13, 05, 01, 07 }).Name("Movies&nbsp;");
    series.Line(new double[] { 34, 62, 108, 60, 52, 104, 08, 77, 115, 59, 32, 51 }).Name("Television");
    })
    .CategoryAxis(axis => axis
    .Categories("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
    .MajorGridLines(lines => lines.Visible(true))
    )
    .ValueAxis(axis => axis
    .Numeric().Labels(labels => labels.Format("{0}"))
    .Line(line => line.Visible(true))
    .AxisCrossingValue(0)
    .Title("Total Downloads")
    )
    .Tooltip(tooltip => tooltip
    .Visible(true)
    .Format("{0} Items Downloaded" )
    )
    )
</div>