<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nyplexserv-sdn/sdnMedia</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://nyplexserv-sdn</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/sdnMedia</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MediaManagerDB" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DashboardUI.Models.TelevisionShowItem, DashboardUI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SortMediaItemConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DashboardUI.SortMediaItem, DashboardUI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DownloadLogModel" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DashboardUI.Areas.LogsDashboard.Models.DownloadLogModel, DashboardUI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="sdnMediaManagerEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=JIMMYBEAST-SDN\SQLEXPRESS;Initial Catalog=sdnMediaManager;Persist Security Info=True;User ID=sa;Password=A!12@lop^6;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sdnMediaManagerEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.SortMediaDataModel.csdl|res://*/Models.SortMediaDataModel.ssdl|res://*/Models.SortMediaDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JIMMYBEAST-SDN\SQLEXPRESS;initial catalog=sdnMediaManager;persist security info=True;user id=sa;password=A!12@lop^6;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ErrorHistoryConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=JIMMYBEAST-SDN\SQLEXPRESS;Initial Catalog=sdnMediaManager;Persist Security Info=True;User ID=sa;Password=A!12@lop^6;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ErrorHistoryConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=JIMMYBEAST-SDN\SQLEXPRESS;initial catalog=sdnMediaManager;persist security info=True;user id=sa;password=A!12@lop^6;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ErrorHistory" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=JIMMYBEAST-SDN\SQLEXPRESS;Initial Catalog=sdnMediaManager;Persist Security Info=True;User ID=sa;Password=A!12@lop^6;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ErrorHistory_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ErrorHistory.csdl|res://*/Models.ErrorHistory.ssdl|res://*/Models.ErrorHistory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JIMMYBEAST-SDN\SQLEXPRESS;initial catalog=sdnMediaManager;persist security info=True;user id=sa;password=A!12@lop^6;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SortItem" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=JIMMYBEAST-SDN\SQLEXPRESS;Initial Catalog=sdnMediaManager;Persist Security Info=True;User ID=sa;Password=A!12@lop^6;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SortItem_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=JIMMYBEAST-SDN\SQLEXPRESS;initial catalog=sdnMediaManager;persist security info=True;user id=sa;password=A!12@lop^6;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DownloadLogModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ErrorHistory-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ErrorHistoryConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sdnMediaManagerEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SortItem-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SortMediaItemConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MediaManagerDB-Web.config Connection String" />
  </ItemGroup>
</Project>