<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MediaManagerDB" connectionString="data source=JIMMYBEAST-SDN\SQLEXPRESS;initial catalog=sdnMediaManager;persist security info=True;user id=sdnmediamanager;password=A!12@lop^6;MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>