<footer>
    <p style="text-align: center;">&copy; @DateTime.Now.Year Sietsma Development Networks, Inc.  All Rights Reserved.</p>
</footer>

<script type="text/javascript">

        $(document).ready(function () {
            $("#btnShowModal").click(function () {
                $("#loginModal").modal('show');
            });

            $("#btnHideModal").click(function () {
                $("#loginModal").modal('hide');
            });
        });
</script>  