
@{
    ViewBag.Title = "UserDashboard";
}

<h4 class="text-warning">Account Administration</h4>
<hr class="table-light" />

<div class="table">
    <div class="row" style="margin-left: 15px; margin-bottom: 30px;">

        <!-- Add User Module -->
        <button class="btn btn-outline-secondary col-md-1 table-bordered text-center border-dark table-hover" style="margin: 5px; color: white;">
            <i class="fa fa-user-plus" style="font-size: 30px; padding: 5px;"></i><br />
            <span class="text-sm-center font-weight-bold">Create User</span>
        </button>

        <!-- Manage User Module -->
        <div class="btn btn-outline-secondary col-md-1 table-bordered text-center border-dark" style="margin: 5px; color: white;">
            <i class="fa fa-users-cog" style="font-size: 30px; padding: 5px;"></i><br />
            <span class="text-sm-center font-weight-bold">Modify Users</span>
        </div>

        <!-- Remove User Module -->
        <div class="btn btn-outline-secondary col-md-1 table-bordered text-center border-dark" style="margin: 5px; color: white;">
            <i class="fa fa-user-minus" style="font-size: 30px; padding: 5px;"></i><br />
            <span class="text-sm-center font-weight-bold">Remove Users</span>
        </div>

        <!-- Ban User Module -->
        <div class="btn btn-outline-secondary col-md-1 table-bordered text-center border-dark" style="margin: 5px; color: white;">
            <i class="fa fa-user-slash" style="font-size: 30px; padding: 5px;"></i><br />
            <span class="text-sm-center font-weight-bold">Ban Users</span>
        </div>

        <!-- Pending User Module -->
        <div class="btn btn-outline-secondary col-md-1 table-bordered text-center border-dark" style="margin: 5px; color: white;">
            <i class="fa fa-user-check" style="font-size: 30px; padding: 5px;"></i><br />
            <span class="text-sm-center font-weight-bold">Pending Users</span>
        </div>

        <!-- User Permission Module -->
        <div class="btn btn-outline-secondary col-md-1 table-bordered text-center border-dark" style="margin: 5px; color: white;">
            <i class="fas fa-universal-access" style="font-size: 30px; padding: 5px;"></i><br />
            <span class="text-sm-center font-weight-bold"> User Permissions</span>
        </div>


    </div>
</div>

<h4 class="text-warning">Media & MetaData Management</h4>
<hr class="table-light" />

<div class="table">
    <div class="row" style="margin-left: 15px; margin-bottom: 10px;">

        <!-- Add New Movie Module -->
        <div class="btn btn-outline-secondary col-md-1 table-bordered text-center border-dark" style="margin: 5px;">
            <i class="fa fa-video" style="font-size: 30px; padding: 5px;"></i><br />
            <span class="text-sm-center font-weight-bold">Add Movie</span>
        </div>

        <!-- Add New Show Module -->
        <div class="btn btn-outline-secondary col-md-1 table-bordered text-center border-dark" style="margin: 5px;">
            <i class="fa fa-tv" style="font-size: 30px; padding: 5px;"></i><br />
            <span class="text-sm-center font-weight-bold">Add Show</span>
        </div>

        <!-- Add New Season Module -->
        <div class="btn btn-outline-secondary col-md-1 table-bordered text-center border-dark" style="margin: 5px;">
            <i class="fa fa-folder-plus" style="font-size: 30px; padding: 5px;"></i><br />
            <span class="text-sm-center font-weight-bold">Add Season</span>
        </div>

        <!-- Add New Episode Module -->
        <div class="btn btn-outline-secondary col-md-1 table-bordered text-center border-dark" style="margin: 5px;">
            <i class="fa fa-plus-circle" style="font-size: 30px; padding: 5px;"></i><br />
            <span class="text-sm-center font-weight-bold">Add Episode</span>
        </div>

    </div>
</div>

<h4 class="text-warning">Storage Configuration</h4>
<hr class="table-light" />

<div class="table">
    <div class="row" style="margin-left: 15px; margin-bottom: 10px;">

        <!-- Storage Add Server Module -->
        <div class="btn btn-outline-secondary col-md-1 table-bordered text-center border-dark" style="margin: 5px;">
            <i class="fa fa-server" style="font-size: 30px; padding: 5px;"></i><br />
            <span class="text-sm-center text-muted">Add Server</span>
        </div>

        <!-- Storage Add Share Module -->
        <div class="btn btn-outline-secondary col-md-1 table-bordered text-center border-dark" style="margin: 5px;">
            <i class="fa fa-share-alt-square" style="font-size: 30px; padding: 5px;"></i><br />
            <span class="text-sm-center text-muted">Add Media Share</span>
        </div>

    </div>
</div>